.intro-3d {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  perspective: 1000px;

  /* Start hidden for opening animation */
  opacity: 0;
  transform: scale(0.5) rotateX(90deg);
  animation: open3D 2s ease-in-out forwards;
}

/* Extra layered shadow to look more 3D */
.intro-3d::before {
  content: "lobuy";
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  -webkit-text-stroke: 2px #09869c9e;
  transform: translateZ(-20px);
  filter: blur(2px);
  opacity: 0.6;
}

@keyframes open3D {
  0% {
    opacity: 0;
    transform: scale(0.5) rotateX(90deg) translateY(100px);
    text-shadow: none;
  }
  60% {
    opacity: 1;
    transform: scale(1.2) rotateX(0deg) translateY(0px);
    text-shadow: 0 15px 30px rgba(6, 182, 212, 0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg) translateY(0px);
    text-shadow: 
      2px 2px 0 #06b6d4,
      4px 4px 15px rgba(52, 211, 153, 0.7);
  }
}


.lobuy-text-anim {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.lobuy-text-show {
  opacity: 1;
  transform: translateY(0);
}


.lobuy-pop {
  opacity: 0;
  transform: scale(0.8);
  filter: drop-shadow(0 0 0px #0ea5e9);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, filter 1s ease-out;
}

.lobuy-pop-show {
  opacity: 1;
  transform: scale(1);
  filter: drop-shadow(0 0 35px #0ea5e9);
}